[2019-06-04 23:18] laurentlb opened #15 "Documentation url"
The readme says:

But this link doesn't work anymore, I get a 404 error (but it worked a few days ago). Was it moved?

[2019-06-08 19:18] natansil commented on #15
Sorry about that. The repo was moved from `wix-incubator` to `wix` org and only after that all the links were fixed.
Should be fine now.

[2019-06-08 19:18] #15 closed

[2019-07-02 17:43] alexanderilyin opened #17 "migrator_cli_deploy.jar does not build with bazel 0.27.0"
[code]
[code]

[2019-07-02 20:56] natansil commented on #17
Sorry about that.
Should be fixed by https://github.com/wix/exodus/commit/951f8a9ddbae9e53ab4d93b991b02a3e71f16d9e
waiting for travis for confirmation...

[2019-07-02 21:49] natansil commented on #17
built successfully with bazel 0.27.0 on travis
https://github.com/wix/exodus/pull/19

Additional feedback would be warmly welcomed...

[2019-07-04 07:21] natansil commented on #17
@alexanderilyin can I close this issue?

[2019-07-04 14:15] alexanderilyin commented on #17
@natansil yes, thanks!

[2019-07-04 14:15] #17 closed

[2019-08-14 19:01] johnynek opened #20 "SBT support"
It would be great to outline what sbt support might look like from the point of view of someone familiar with the code. Including links to the parts in the code we might look at could be helpful.

There may be some of this we can reuse: https://github.com/stripe/sbt-bazel

cc @jjudd @andyscott

[2019-08-14 19:06] long-stripe commented on #20
cc @beala-stripe

[2019-08-30 12:06] arkadyb opened #21 "Moving Maven Java project to Bazel"
Medium and documentation states to use Zinc to with scala-maven-plugin to analyse the project. It does not seem to work for Java project. I dont get any analysis folders generated. Is there any guide for Java project?

[2019-08-30 20:32] natansil commented on #21
@arkadyb, The scala-maven-plugin is able to analyse Java source files. Have you followed the [instructions](https://wix.github.io/exodus/prerequisites.html) of the prerequisites page to the letter?

Namely , added the `scala-maven-plugin` to your maven plugins list with `incremental` recompile mode and also added a dependency on `scala-library` to your dependencies list?
Do you mind sharing your p

[2019-09-02 01:19] arkadyb commented on #21
Hi @natansil, what is the expected output of the zinc plugin? How do i know if it actually worked?
Having done all the listed prerequisites, but getting
`Exception in thread "main" com.wixpress.build.maven.MissingPomException: Failed to read artifact descriptor for group-id:artifact-id:jar:1.0.0-SNAPSHOT`.

[2019-09-02 19:06] natansil commented on #21
@arkadyb I suspect some version conflicts.

Please supply:
The pom.xml where you configured the plugin and dependency (you can of-course react any thing you don't want to share)

Please also supply all the commands your running and their full response
Especially, the full stack Trace of exceptions

Also, which Maven version are you using?
And which bazel version.

Thank you for your cooperation!

[2019-09-04 10:16] natansil commented on #21
@arkadyb, Maybe the path to your local .m2 repository is incorrect?
-Dlocal.maven.repository.path=<PATH-TO-LOCAL-.m2-REPO>
should be something like `/Users/natans/.m2/repository` (for macs at least)

[2019-09-26 21:15] bigkraig commented on #21
@arkadyb I had that same error when using `~/.m2/repository` as my maven repo path. I needed to change it to the full path.

[2019-09-27 19:22] natansil commented on #21
Thank you @bigkraig. I've added a note in docs to only use full absolute paths.

[2019-10-23 10:42] D0rmouse opened #23 "Project is not building with Bazel 1.0.1"
Any plans to make exodus Bazel 1.0+ compatible?

Trying to build the source with Bazel 1.0.1 using `bazel build //migrator/wix-bazel-migrator:migrator_cli_deploy.jar`

`ERROR: Analysis of target '//migrator/wix-bazel-migrator:migrator_cli_deploy.jar' failed; build aborted: Analysis of target '@scalac_rules_commons_io//:scalac_rules_commons_io' failed; build aborted`

[2019-10-23 10:57] D0rmouse opened #24 "'Maven CI Friendly' not supported"
We have a CI build setup like explained here: https://maven.apache.org/maven-ci-friendly.html

This uses a ${revision} property in the parent pom's version that can be set at build time.

When using exodus on this project, it fails with:

[code]

[2019-10-23 11:17] natansil commented on #24
@D0rmouse Thanks for the issue!
Do you have
`  <properties>
    <revision>1.0.0-SNAPSHOT</revision>
  </properties>
` defined in your pom file?

Can you please add the full stack trace of the failure if you see it.

[2019-10-23 11:20] natansil commented on #23
Thanks @D0rmouse!
rules_scala version needs to be updated.
https://github.com/wix/exodus/blob/master/WORKSPACE#L25

any chance you can try to update it and report back?
seems like you can just take the head commit:
https://github.com/bazelbuild/rules_scala#bazel-compatible-versions

[2019-10-23 11:25] stahloss commented on #24
We have the following properties defined:
[code]
Stack trace:
[code]

Maybe it's also good to add that we have quite a complex maven structure with a root pom, containing several modules, which in turn also contain modules.
We have one version defined in the root pom and we use ${revision} in all version tags.

[2019-10-23 12:01] stahloss commented on #23
Thanks for the advice :)

HEAD didn't work, but I updated to this and now it builds.
[code]

[2019-10-23 15:29] natansil commented on #23
Great!
If you could be so kind to open a PR with your change, that would be amazing :)

[2019-10-23 15:50] natansil commented on #24
From the stack trace I see that the error eminates from [_Apache Maven Artifact Resolver_](https://maven.apache.org/resolver/) 3rd party libraries
The current version 1.3.3 is not the latest one [(1.4.1)](https://maven.apache.org/resolver/download.cgi)

If you want to try out something quick you can update the versions here:
https://github.com/wix/exodus/blob/dccbfab52ee9c2cfb99b29261008c2799d9d19

[2019-10-24 07:34] stahloss commented on #23
I would like to and I tried, but I am unable to push my branch to remote:

[code]

[2019-10-24 07:53] natansil commented on #23
Have you tried to push for your fork.
1. create a fork with the github button
2. add a remote to it in your local clone: `git remote add fork git@github.com:natansil/exodus.git`
3. run `git push -u fork feature/update_rules_scala_version`

[2019-10-24 08:32] stahloss commented on #23
Cheers, PR raised.

[2019-10-24 10:14] stahloss commented on #24
Thanks for the suggestion. I've tried, but got the same exception unfortunately.

I'll just replace ${revision} with the actual version for now and see what happens :)

[2019-10-24 10:37] natansil commented on #23
Thank you! merged.
Can I close this issue?

[2019-10-24 11:28] stahloss commented on #23
Done!

[2019-10-24 11:28] #23 closed

[2019-10-24 13:15] stahloss commented on #24
It ran :+1: The output is not exacly right though, but that can't be expected. At least I'm a big step closer to a Bazel build! Thanks for the support.

[2019-10-24 13:24] natansil commented on #24
Excellent!
Let me know if you need more help.

Do you mind sharing a bit about your stack?
Java/Scala
Testing FW
versions of above

[2019-10-24 13:46] stahloss commented on #24
Not at all :)

We have a Java (8, soon 11) project containing a root pom that imports `org.springframework.boot:spring-boot-dependencies:2.1.6.RELEASE` among others and use mostly dependencies from Spring BOMs.
We use JUnit4 and JUnit5 together using `junit-vintage-engine`.
Other than that we use Cucumber for integration testing.

Structurally it's based on the Onion/Clean Architecture with three

[2019-10-24 14:11] natansil commented on #24
Thank you for the detailed description of your project!
I wonder if both the junit 4 and junit5 test targets that Exodus created make sense...

[2019-10-25 08:00] stahloss commented on #24
I will have a look at JUnit :)

When I build, all the `libmain_dependencies.jar` files are empty in `/bazel-bin`, but no build errors. Any idea why that might be?

[2019-10-27 09:10] natansil commented on #24
@D0rmouse, Sorry for the late reply.

I don't think that if `libmain_dependencies.jar` that's a problem.
The relevant jar should be created in the folder where the BUILD target exists.

For instance for `java-design-patterns` repo. the relevant path would be:
`java-design-patterns/bazel-bin/builder/src/main/java/com/iluwatar/builder`
and NOT
`java-design-patterns/bazel-bin/builder`

and should con

[2019-10-28 08:27] stahloss commented on #24
Binaries in source folders?? Maybe that concept is different in Bazel ;)

But there are no binaries in that place after my build... only in bazel-bin, which links to the cache folder.

[2019-10-28 08:35] natansil commented on #24
`bazel-bin` mimics the source structure (but without the source files). please try and see if you have more jars deeper in `bazel-bin` path

[2019-10-28 08:56] stahloss commented on #24
No more jars... the `libmain_dependencies.jar` files are there per module, but are empty.

I think it's because the `srcs` attribute of the `java_library` rule is missing everywhere...

[2019-10-28 13:37] stahloss commented on #24
I've got most of the main code to compile by adding `srcs` attribute and changing `runtime_deps` to `resources` for most `java_library` entries. Also needed to add a `java_plugin` for Lombok annotation processing.

Now the tests are not compiling, because most `tests_dependencies` `java_library` do not contain `deps` for JUnit, Mockito, etc. So all Maven test scoped dependencies are missing.

[2019-10-28 14:19] natansil commented on #24
you mean the `test_dependencies` don't look like [this](https://github.com/natansil/java-junit-sample/blob/java_test_discovery/java-junit-sample/BUILD.bazel#L14-L24)?

Can you please open a separate issue on this topic.
I think one solution will be to create a `macro` that will call both [java_library](https://github.com/natansil/java-junit-sample/blob/java_test_discovery/java-junit-sample/src/tes

[2019-10-28 14:52] stahloss commented on #24
No the `test_dependencies` do not contain the `@junit_junit` or any other test exports.
I'll open a new issue for this, thanks.

Then there's the issue of the generated `main_dependencies`. They contain no `srcs` and no `deps`, but do contain `exports`. This results in nothing being build.

From the [Bazel docs](https://docs.bazel.build/versions/master/be/java.html#java_library), showing `exports`

[2019-10-29 06:14] natansil commented on #24
Thanks.

The idea behind `test_drpendencies` and `main_dependencies` is to have a single place with all the 3rd party dependencies of the original Maven module. They should contain no sources.

The package level build targets (that do have resources) depend on them so they can depend on transitive 3rd party dependencies.

Hope it's a bit clearer

[2019-10-29 06:15] natansil commented on #24
Exports should work for the dependant level...

[2019-10-29 08:57] stahloss commented on #24
I understand. But to be able to build library modules that have sources that need to be built and that have transitive dependencies, we need to depend on these dependencies as well as export them to dependent artifacts. Having only exports and no srcs/deps in as exodus produces, results in the library sources not being built.

[2019-10-29 13:03] natansil commented on #24
I don't think that exports are the issue here.
you can clone https://github.com/natansil/java-junit-sample/tree/java_test_discovery, build and see how the jars look here.

[2019-10-29 15:49] stahloss commented on #24
Thanks. I now see I'm lacking loads of `BUILD.bazel` files in my project at package level. I only have those at module level unfortunately.
This is also why I didn't have any artifacts deeper in the output folders...

[2019-10-29 16:59] natansil commented on #24
You may not lack them. You may have aggregate targets of multiple packages.

Another possibility is an issue with missing zinc analysis files...

[2019-10-29 18:34] stahloss commented on #24
I do have some in resources directories, but generally they're missing. I don't think I have one in the src/main|test/java tree.
I may just go for first building modules and then work towards packages.

We can close this issue and I can create two new ones for the issues we've encountered.

[2019-10-30 05:29] ittaiz commented on #24
@D0rmouse It sounds like something fundamental was missed in the migration. I wouldn't try to manually fix it just yet and would indeed dig a bit deeper on what's going on.
@natansil I think that when we wanted to debug this we had a utility to query zinc (codota in our case) to print all it knows about source files of a module. Maybe you need to offer that as well? Debugging tools were super help

[2019-10-30 08:19] stahloss commented on #24
Allright. [here](https://pastebin.com/W8nMCBD2) you'll find the output of my local exodus build `bazel build //migrator/wix-bazel-migrator:migrator_cli_deploy.jar`. Maybe you'll see something that's off...

And [here](https://pastebin.com/5XNQLSi4) the output of the actual migration.

[2019-10-30 11:12] natansil commented on #24
Thanks for the logs!
Haven't seen anything noteworthey. did you write down `[RunConfiguration(omitted` for the location of your repo?

Please check if after you ran maven with the scala plugin, you got the following file in one of your modules:
`[module-name]/target/analysis/compile.relations`

The file should have lines like:
[code]

[2019-10-30 11:28] stahloss commented on #24
Thanks, yes I did write down some omitted and other texts.

Then that must be the problem! There are no `target/analysis` folders.

I added the following to my root pom:

[code]
 And I did a `mvn clean install`.

[2019-10-30 11:32] natansil commented on #24
Have you added a dependency on scala-library:
[code]
?

[2019-10-30 11:33] stahloss commented on #24
Yes, sorry, I forgot and edited later.

[2019-10-30 11:34] natansil commented on #24
Seems like you are missing execution:
[code]

[2019-10-30 11:36] natansil commented on #24
I see that this is not documented. please let me know if it helped

[2019-10-30 11:59] stahloss commented on #24
Yes, was thinking the same. Now it's working. The docs say the `scala-maven-plugin` must be equal to the Maven version you're running, which is 3.6.0 in my case, but there is no such version of the `scala-maven-plugin`, so I set it back to 3.2.2, which seems to be okay.

I have the analysis folder now, with the `compile.relations` file.
Ran the migrator again, but got no additional `BUILD.bazel` f

[2019-10-30 12:35] natansil commented on #24
in the `compile.relations` do you see contents like:
[code]
?

[2019-10-30 12:54] stahloss commented on #24
Sorry yes, should have added that. The `compile.relations` files contain similar contents.

I see

`source dependencies:`
`products:`
`binary dependencies:`
`external dependencies:`
`class names:`

 All with mappings, except for `external dependencies:`.

[2019-10-30 14:06] natansil commented on #24
Your'e building from source right?
can you please add a print to see if zinc analysis completes successfully?
like here:
https://github.com/wix/exodus/commit/67f8b844c6dbb4d80093e8a69feaf3cc2bfae945

[2019-10-30 15:25] stahloss commented on #24
I've checked out your branch, did a `bazel build //migrator/wix-bazel-migrator:migrator_cli_deploy.jar` and ran the migration again, but couldn't find the output in the logs.

Also did a `bazel clean` and built again, because I don't trust it completely yet ;)

[2019-10-30 17:04] natansil commented on #24
In that case I suspect the code analysis cache is being used.
I've changed the branch such that the cache won't be used at all.

can you please pull the changes and try again?
Sorry for all the hassle...

[2019-10-31 08:41] stahloss commented on #24
No problem! :)

With the latest change I have loads of new `BUILD.bazel` files :100:

[2019-10-31 08:46] natansil commented on #24
Great!
I think I'm going to make the cache opt-in... :)

[2019-10-31 08:49] natansil commented on #24
How long was the latest Exodus run?

[2019-10-31 09:02] stahloss commented on #24
2 minutes and 36 seconds on an i5-8400

[2019-10-31 10:09] stahloss commented on #24
Duplicate targets are being generated, which causes errors in my build.

[code]

[2019-10-31 11:40] natansil commented on #24
Does it happen in most build files?

You can run the build with -k to see all errors...

On Thu, Oct 31, 2019, 12:10 M1ke <notifications@github.com> wrote:

[2019-10-31 12:52] stahloss commented on #24
Yes, I think it's all package-level build files. Also, I'm wondering if the names need to be unique in the build? I.e. would `common` clash with other packages in different modules named `common`?

Do you have an idea on how to globally register a plugin? Now I need to manually add the lombok annotation processor plugin again, but it'd be nice if this can be done globally.

[2019-11-01 07:06] natansil commented on #24
I'll try to reproduce this behavior. @ittaiz maybe you have an idea off the top of your head?

Regarding Target name uniqueness.
Targets are identified by their relative path to the Workspace file, so the only thing you can't do is create targets with the same name in the same build file.

You can checkout the concept of toolchains in bazel for introducing tools globally

[2019-11-01 07:57] ittaiz commented on #24
@natansil not really. I'd deubg it as well. I'd guess that something in the ZincDependencyAnalyzer is creating somehow duplicate targets but I don't see what. LMK if you want to take a look together on Sunday

[2019-11-01 08:54] stahloss commented on #24
I thought so, thanks for the confirmation. And thanks for the toolchains tip.

Good luck debugging! Let me know if you need anything from me :)

[2019-11-04 12:57] natansil commented on #24
@D0rmouse I'm sorry I just couldn't find enough time to allocate for debugging yet.
Any change you can create a minimal repro of the duplicate targets issue (without your real code of course) and share it?

[2019-11-05 07:53] stahloss commented on #24
@natansil It's either that, or I debug it locally, which seems a bit easier than trying to reproduce my issue in a new repo.
So maybe I'll try that first?

[2019-11-05 08:57] natansil commented on #24
If you're up for it, sure :)
Are you familiar with Scala?

[2019-11-05 18:08] stahloss commented on #24
No but I know Java... Scala is like an easy version of that, right? ⚱️

[2019-11-05 18:08] D0rmouse commented on #24
No but I know Java... Scala is like an easy version of that, right? ⚱️

[2019-11-07 13:41] stahloss commented on #24
I did some debugging `Migrator.transform()` does a `CodeAnalysisTransformer.transform()` that returns a set of `Package`s that contains the duplicate `Target`s.
Probably something you already figured, but I'll dive into the `CodeAnalysisTransformer` to see what the issue is next...

[2019-11-07 13:42] natansil commented on #24
Good luck! :)

[2019-11-11 16:14] stahloss commented on #24
I finally had some more time to look into this. So `CodeAnalysisTransformer.targetDependencies` has a statement `var outgoingResourceKeys = graph.outgoingEdgesOf(resourceKey).asScala`.  `outgoingResourceKeys` contains element with `source` to `target` entries with equal `resourcePackage` and equal `codeDirPath.relativeSourceDirPathFromModuleRoot`.
So basically packages are depending on themselves,

[2019-11-12 08:41] natansil commented on #24
Great insights @D0rmouse !
This maybe due to the fact that during Wix migration we used Codota analysis and not Zinc.

Next week, I've cleared my schedule to work on Exodus issues for 2-3 days.
So any more details on your findings would be great!

[2019-11-12 14:38] stahloss commented on #24
Great that you're able to clear your schedule for Exodus :)
I was now thinking to simply filter all duplicate `Jvm` `Target`s in all `Package`s, but it seems more like a quick and dirty solution. Also some changes are needed to be able to access `Jvm`. What do you think?

Other thing I noticed that `CodeAnalysisTransformer.toPackage` is called multiple times for the same package. Seems that the gr

[2019-11-13 09:57] natansil commented on #24
I would like to have a proper solution that I would work on next week.
If you can share your changes in a branch that would be great!

[2019-11-13 14:09] stahloss commented on #24
I went for the quick and dirty solution for now and am at the point my build requires generated code :)

[Here](https://github.com/D0rmouse/exodus/commit/15d9c64f92e9b9139c49c03b09ed2713ad085811) you'll find the commit on a branch of my fork of my changes.
I'm not sure how to sync my branch with your repository...

[2019-11-14 09:56] natansil commented on #24
Great job!

WDYM?

Well, I think we have two options.
1. you will evolve your PR to be complete and clean (with tests) - you'll do the work and I'll review
2. I will work on it myself.

which do you prefer?

[2019-11-14 10:31] stahloss commented on #24
I think I just ran into another issue:

So my project has a repository module (R2) that depends on another repository module (R1) that depends on a common module (C), so R2 -> R1 -> C.
It seems now that on a `bazel build //...` when R2 is built, C is not built, while it should, because it's required for R1/R2.
R1 exports C and R2 exports R1, but since they are not actual dependencies, it seems Baz

[2019-11-14 12:21] natansil commented on #24
Re-module dependencies.
Are these runtime dependencies or compile time dependecies?

re-code generation
There are bazel rules for proto, and Thrift and others. so maybe there are already rules for your code generator.

re-PR
So I suggest I do a deep dive next week on the issue and we'll sync. how does that sound?

[2019-11-14 12:26] stahloss commented on #24
These are compile time dependencies.

Yes, I think I've found something that might work.

Sounds great!

[2019-11-14 12:35] natansil commented on #24
So for compile time dependencies,
The Zinc analysis should have picked up a dependency between a source file in 1 module and a source file in the other module.
and then the relevant bazel target dependnecy would have been added.
can you try and see if that you see that in the analysis files?

[2019-11-14 12:48] stahloss commented on #24
Yes, in `compile.relations` I see a reference from the R2 module to the C module.

In R2's root `BUILD.bazel` I see an `export` of R1, and R1 in turn `export`s C.
But building R2 does not build C.

The package in R2 that depends on a package in C, only has a `deps` entry `main_dependencies` in the module root `BUILD.bazel` which `export`s R1's `main_dependencies`.
So there are no direct `deps` ent

[2019-11-16 12:08] stahloss commented on #24
I've created a [repository](https://github.com/D0rmouse/exodus-demo) that's a small replica of our repository. The behavior I've described in my previous post also happens there.

I seem to be unable to build Exodus using Bazel due to some scala issue it seems.
Tried to remove the Bazel cache and everything, but it keeps on appearing :(
Any ideas?
[code]

[2019-11-17 11:52] natansil commented on #24
Re- repository. Great! I will use it later this week to debug and will let you know my findings.

re- rules_scala error.
Maybe you should update the rules_scala version (commit hash) you use?
When did this error start happening? did you change any version? jdk, scala, etc...

[2019-11-18 09:40] stahloss commented on #24
Nice :) Since I'm not currently unable to build exodus, I'm not sure if the duplicate target issue occurs in the demo project, or not.
You can use the project to look at the transitive dependency issue. So after migration, `bazel build //...` will fail.

I just happened without any local changes. Thanks for the tip, I'll see what I can do.
This was missing from my previous post:
[code]

[2019-11-19 11:59] natansil commented on #24
the `type 'java_common' has no method create_provider()` error should not happen for rules_scala version with [this](https://github.com/bazelbuild/rules_scala/commit/3404be0e3b3afda99a12724171d80283eaf2b1e7) commit or above.
Make sure the `io_bazel_rules_scala` version is correct in your WORKSPACE (`0f89c210ade8f4320017daf718a61de3c1ac4773`)

Also, what is `/home/dormouse/.cache/bazel/_bazel_dormo

[2019-11-19 16:53] natansil opened #27 "Zinc Analysis does not provide source file dependencies from other maven modules"
@D0rmouse, Unfortunately, with the help of [your repo](https://github.com/D0rmouse/exodus-demo), I can indeed verify that maven's scala-plugin zinc-analysis does not provide source file dependencies from other maven modules.

What it does instead, is to provide the binary jar that the dependency comes from:
e.g. from your repo:
[code]

I take full responsibility for missing this.
Two options I see

[2019-11-19 19:08] stahloss commented on #27
@natansil I'm glad the demo project helped in finding out what the issue is. And I'm glad to, not only because Bazel is awesome and anybody should be able to migrate away from the relic that is Maven with the least effort using your amazing migrator :)

Does it also account for the duplicate targets I've seen in that are generated in the package level BUILD.bazel files, or couldn't you replicate t

[2019-11-19 19:32] natansil commented on #27
I'll take a look if I see duplicates and get back to you.
I think a possible 3rd option for solving the cross-module dependencies issue, is to fork the scala-maven-plugin and pass zinc sources-jars for each module, than somehow let zinc use srcjar instead of binary jars. This will be the ultimate solution if it is feasible

[2019-11-20 09:38] natansil commented on #24
@D0rmouse I don't see duplicate targets for exodus-demo...

[2019-11-20 09:40] stahloss commented on #24
Ok, thanks for the feedback, I'll put some more effort in trying to replicate this.

[2019-11-20 11:52] natansil commented on #24
Thank you for putting the effort!

[2019-11-21 13:40] stahloss commented on #24
Great, thanks, that did the trick! Seems weird to me that this can happen, versions need to upgrade to be able to continue building...

[2019-11-21 14:04] natansil commented on #24
The idea with fixed versions, is that allows for deterministic reproducible build results.
This way, upgrading a version is a commit -> if the commit build failed you know exactly why it failed...

[2019-11-21 14:18] stahloss commented on #24
Of course, like with Maven you don't want to depend on LATEST. But now in my build it stopped building correctly with the same version of the dependency. I had to update the dependency to have it build... that's the reverse of what you want ;)

I was able to reproduce the duplicate targets issue. It happens when you mix JUnit4 and JUnit5 tests in modules :)
It's pushed to the demo project.

[2019-11-21 14:26] natansil commented on #24
Not sure I follow, which version did you have before?

It's pushed to the demo project.

Excellent! Great job! I'll take a look and think what can be done.

[2019-11-21 14:45] stahloss commented on #24
`io_bazel_rules_scala` was fixed to` rules_scala_version="69d3c5b5d9b51537231746e93b4383384c9ebcf4"` but from one day to another I wasn't able to build the same codebase (without changes) anymore.
Had to update to `rules_scala_version="0f89c210ade8f4320017daf718a61de3c1ac4773"` to be able to build again.

Great! Good luck :)

[2019-11-21 15:32] natansil commented on #24
So maybe the bug was exposed in a more indirect way. I think that going
forward rules Scala should be more stable...

On Thu, Nov 21, 2019, 16:46 M1ke <notifications@github.com> wrote:

[2019-11-21 17:40] ittaiz commented on #24
Which bug?
Maybe you upgraded bazel version in the middle?

On Thu, 21 Nov 2019 at 17:32 Natan Silnitsky <notifications@github.com>
wrote:

--

*Ittai Zeidman*

Cell: 054-6735021

40 Hanamal street, Tel Aviv, Israel

<http://www.wix.com>

[2019-11-24 09:15] natansil commented on #27
Update: After going down multiple rabbit holes, I've focused on getting the `relations` output files to contain the class-name cross-module dependency (so that Exodus can use it in a 2-pass fashion to gather the source file cross-module dependencies). currently, it only contains the binary jar name. I've tried to look at the interaction between scala-maven-plugin and zinc.

One important note: sca

[2019-11-24 12:07] ittaiz commented on #27
Sounds good.
Were you able to confirm that in SBT zinc does show this cross module?

On Sun, 24 Nov 2019 at 11:15 Natan Silnitsky <notifications@github.com>
wrote:

--

*Ittai Zeidman*

Cell: 054-6735021

40 Hanamal street, Tel Aviv, Israel

<http://www.wix.com>

[2019-11-24 13:14] natansil commented on #27
I saw that in Maven, the cross module is shown, but as a binary jar, and also saw zinc code that is related to binary dependency information, so I'm not sure I need to check with SBT as well.

[2019-11-24 16:40] stahloss commented on #27
Remember what the dormouse said xD

I've created several builds for our monorepo using commit filters. It's not ideal, but workable for now.  I wasn't prepared to give up the single version advantage.
So there's no need for me to get this resolved quickly, but I'll see if I can help and keep you updated.

[2019-11-25 06:14] natansil commented on #27
Can you please give a little more detail on your process and what are you trying to solve?

[2019-11-27 11:47] D0rmouse opened #28 "Mixed JUnit4 and JUnit5 project results in duplicate targets"
My [demo project](https://github.com/D0rmouse/exodus-demo) shows that when your project contains JUnit4 and JUnit5 tests, duplicate targets are exported in the `BUILD.bazel` files.

[2019-11-27 11:51] stahloss commented on #27
In our CI/CD environment (Azure DevOps) we're running several maven builds for our products in the monorepo by using commit filters.

For instance, if a changeset touches `/products/some-product`, a `mvn clean install -pl /products/some-product -am` is ran.
If a changeset touches `commons/some-common-lib` then all builds that have that path in their filters will be run.

Of course, preferably, you

[2019-11-27 14:32] natansil commented on #27
I see. thanks for the detailed explanation!
I hope you will be able to move to bazel soon.
I'm also trying to get help from inside Wix.

[2019-11-27 14:34] natansil commented on #28
@D0rmouse  Thanks so much for the repro!
I will run it and think what can be done

[2019-12-19 15:11] reda-alaoui opened #29 "Allow passing a directory to repo.url"
Hi,

It is currently impossible to pass a local directory to repo.url.
Is there a particular reason?

[2019-12-19 15:42] reda-alaoui commented on #29
[code]

[2019-12-20 18:36] natansil commented on #29
Hi @reda-alaoui,
if you don't have an external url, I suggest you simulate one: `git@github.com/[org-name]/[repo-name].git`. the url is not used for cloning.

The Migrator was originally built with multi-repo dependencies in mind (external bazel dependencies are denoted with `@repo_name/...` notation).
and this git url was intended as a way to avoid noting internal dependencies as external ones...

[2020-04-26 16:13] natansil commented on #27
Hi @D0rmouse.
I hope you are doing well.
I have some good news! we have solved the multi-module dependency issue.
Instead of relying on Zinc, we have switched to jdeps + javap for the analysis.
I would extremely appreciate if you could try it out (Exodus HEAD is already updated with this change)

[2020-04-28 15:51] stahloss commented on #27
Hi @natansil :)
Yes I'm fine thank you. How are you?
I'm not working from the company I attempted the migration for anymore, so this codebase is not available to me, but I made a demo project that can be found [here](https://github.com/D0rmouse/exodus-demo). I don't have much time until next week at least, but you can try it with this setup yourself if you like.
Nice that you fixed it :)

[2020-04-29 09:59] natansil commented on #27
Glad to hear you're ok :) I'm doing great. WFH of course.

I ran the new exodus version on the exodus-demo repo.
Looks promising.
inter-module dependencies are present in the build files!

There are spring related errors - but that is to be expected - some of these dependencies only appear in runtime. so analysis tools have a hard time with them.

also a small issue due to mix junit4/junit5 in the

[2020-04-29 11:34] FelixReuthlingerBMW opened #48 "Exodus does not use .maven/maven.config revision"
We are using a one-repo approach, having set and updating the revision via using the ".maven/maven.config" file with content like "-Drevision=1.5.0-844-pr_3512-d269bebd004a4745ba1c1dd0c35548db-SNAPSHOT".

It seems Exodus cannot use this approach for parsing the version, since the log output shows an un-parsed version containing the string "...:pom:${revision}".

I know that I simply can replace th

[2020-04-29 16:58] natansil commented on #48
Thank you @FelixReuthlingerBMW for posting the issue.
We will check if `org.apache.maven.model.io.xpp3.MavenXpp3Reader` can somehow take .maven/maven.config

In the meantime, have you tried replacing all locations on a test branch?
I wonder if you were able to finish the migration successfuly.

Are you building exodus from source? it has a more up-to-date source analyzer.
We are going to release a

[2020-04-30 04:41] natansil opened #49 "Create a tool that will help define runtime deps "overrides""
This tool will analyze Exodus log files, find missing classes and finds their target.

Or will output overrides structure with hint to where it should be placed.
CC: @ittaiz

[2020-04-30 05:16] ittaiz commented on #49
👍🏽 I’d recommend taking a look at DepFixer by Wix (recently OSS’d).
It doesn’t support this but I’d imagine the effort isn’t huge.

On Thu, 30 Apr 2020 at 7:41 Natan Silnitsky <notifications@github.com>
wrote:

--

*Ittai Zeidman*

40 Hanamal street, Tel Aviv, Israel

<http://www.wix.com>

[2020-04-30 06:18] FelixReuthlingerBMW commented on #48
@natansil unfortunately not, I am still getting a

Caused by: org.eclipse.aether.transfer.ArtifactNotFoundException: Could not find artifact com.***.ad.labeling:lidar-web:pom:2.0.0 in repo0 (http://localhost:50333)

But Maven clean install was run successfully before.
Also the pom is in my local repo: ./com/***/ad/labeling/lidar-web/2.0.0/lidar-web-2.0.0.pom

[2020-04-30 07:24] or-shachar commented on #48
Hey @FelixReuthlingerBMW ! :-)
Just to understand - how does a pom file looks like?

something like this? (1)
[code]

or (2)
[code]
or something else?

[2020-04-30 07:27] FelixReuthlingerBMW commented on #48
It is the (1), also reference to parent-pom uses  <version>${revision}</version>

[2020-04-30 07:39] natansil commented on #48
The first answer here looks promising: https://stackoverflow.com/questions/11525318/how-do-i-obtain-a-fully-resolved-model-of-a-pom-file

[2020-04-30 07:43] FelixReuthlingerBMW commented on #48
Now I am getting to the point where I receive another error:

Exception in thread "main" java.lang.IllegalArgumentException: org.eclipse.aether.resolution.VersionRangeResolutionException: No versions available for commons-codec:commons-codec:jar:[1.8,2.0) within specified range
===== Please double check that you have VPN on and that you have no typos.
if you REALLY meant to reference this jar and

[2020-04-30 07:49] natansil commented on #48
Hi Felix,

Bazel does not support a range of versions for 3rd party.
Do you specify commons-codec dependency in one of your pom files?
If yes, then I suggest to choose one version and move forward.

Let's make sure that Exodus can help you get 80%-90% of the bazel build configurations that you require first, and then worry about the edge cases...

[2020-04-30 07:58] FelixReuthlingerBMW commented on #48
Ok will try. In general we use huge dependencyManagement section defining the versions, but of course, someone sneaked out there and had defined another version :)

But regarding the "--ignoreMissingDependencies" the error shown is a bit misleading if the program doesn't support an option like this.

[2020-04-30 08:06] FelixReuthlingerBMW commented on #48
But also still after removing one stale older specific version the error remains same. Also the version of <artifactId>commons-codec</artifactId> we use is 1.12 and not one of 1.8 or 2.0 as mentioned in the error message.
It would help a lot if the exception would be caught and a reference to where this information came from could be posted.
It might be that 3rd party open source dependencies cont

[2020-04-30 12:15] or-shachar commented on #48
Is `commons-codec` a direct dependencies of one of your modules or transitive dependency?

If it's just a transitive - you might be hitting an issue we have reading the managed deps of the pom.

An easy way to check that would be to add `commons-codec` with the version you want as direct dep

[2020-04-30 12:18] FelixReuthlingerBMW commented on #48
A direct dependency is already added, but this one doesn't point to neither of 1.8 nor 2.0.

It is very possible that the dependency is used by other libraries transitively.

[2020-04-30 12:18] natansil commented on #48
@felixb-wix for more frequent chatting, I invite you to our Slack Workspace:
https://join.slack.com/t/wix-oss/shared_invite/zt-dmz06ume-eMI3cd93NtGRuMwjaBO0lg
please join #exdous channel.

[2020-04-30 12:22] or-shachar commented on #48
Do you see a print during the migration:
[code]
or does it fail on exception?

[2020-04-30 12:27] FelixReuthlingerBMW commented on #48
Nope, those ones I do not see. Just a bunch of:
"Checksum validation failed, no checksums available"

And yes, it fails on exception: java.lang.IllegalArgumentException (as shown above)

Btw the program does not terminate after the exception, is this intended?

And regarding the Slack, I joined there, but cannot see the channel.

[2020-05-02 07:39] natansil commented on #48
@FelixReuthlingerBMW Can you please run Bazel from this branch:
https://github.com/wix/exodus/tree/better-error-message and share the error message with us.
This will help us to investigate the issue.
No rush of course. Whenever you want.

[2020-05-05 09:05] FelixReuthlingerBMW commented on #48
The new error message helps to understand, where the issue came from, would really support pushing this change to master :)

[2020-05-05 09:58] natansil commented on #48
Great. PR merged.

[2020-05-22 15:20] MikhailTymchukFT commented on #49
@ittaiz Where can I get the DepFixer? Also, you talked about another AutoSync at BazelCon 2019, is it open-sourced?

[2020-05-22 18:23] ittaiz commented on #49
https://github.com/wix-playground/depfixer
Cc @liucijus @or-shachar for AutoDep open source

[2020-05-25 08:47] stahloss commented on #27
Sorry took a while...
That's great! Too bad I'm not able to continue with it.
At my old company (and at my new one as well) it's hard to find people that are monorepo enthusiasts :( People seem to have a hard time grasping the benefits far outweigh the drawbacks with it.
Of course, Bazel doesn't have to be used for monorepos only, but migrating makes less sense if you have numerous small projects.

[2020-05-25 12:31] natansil commented on #27
We consolidated the repos to around 50. But as long as you have a shared remote repo cache, I'm not sure how worse the build performance would be.
The question is whether these have many dependencies between them...

[2020-06-14 07:46] lfraimovich opened #52 "Failed fetching from private github repo"
I am trying to use Exodus on my private GitHub repo and it fails with:
"Exception in thread "main" com.wixpress.build.maven.MissingPomException: Failed to read artifact descriptor"
When running "$ java -Xmx12G -Dskip.classpath=false -Dskip.transformation=false -Dlocal.maven.repository.path=<PATH-TO-LOCAL-.m2-REPO>  -Dfail.on.severe.conflicts=true -Drepo.root=<TARGET-REPO> -Drepo.url=git@github.com

[2020-06-14 11:27] natansil commented on #52
Hi @Ifraimovich,
The repo.url is indeed not REALLY needed. we will work on removing this flag and update soon.

[2020-07-07 15:59] aman-iitj opened #54 "Exodus failing because one of the jar doesn't have pom in it"
The error message is:
===== Please double check that you have no typos.
if you REALLY meant to reference this jar and you know it exists even though there IS NO pom,
please rerun the tool with --ignoreMissingDependencies flag at the end =====

I have verified the jar exists but the pom is not in the jar.

Can anyone please help me.

[2020-07-07 16:12] natansil commented on #54
@or-shachar is this an error from AetherResolver?
Following our conversation - another example why Exodus should move away from Aether to something else...
In the meantime why do we have ignoreMissingDependencies = false [here](https://github.com/wix/exodus/blob/master/dependency-resolver/maven-dependency-resolver/src/main/scala/com/wixpress/build/maven/AetherMavenDependencyResolver.scala#L62)

[2020-07-07 16:38] aman1k4 commented on #54
@natansil Is there any workaround for this? I tried adding a dummy pom but it get's stuck on it.
Is there any specific field it expects?
[code]

[2020-07-07 16:51] natansil commented on #54
I'm not sure it would help, but can you try and change this line:
https://github.com/wix/exodus/blob/master/dependency-resolver/maven-dependency-resolver/src/main/scala/com/wixpress/build/maven/AetherMavenDependencyResolver.scala#L62
`withSession(ignoreMissingDependencies = false` => `withSession(ignoreMissingDependencies = true`
re-build and run?

[2020-07-07 17:09] aman1k4 commented on #54
Thanks. Will try this.

[2020-07-08 14:03] aman1k4 commented on #54
One of the dependencies we use didn't have pom.xml and it was failing because of that. The change suggested by @natansil works.

[2020-07-08 14:03] #54 closed

[2020-07-08 14:06] aman-iitj opened #56 "Exodus fails for protoc files"
We use proto generated files and it threw an exception for it

18:25:42.589 INFO  class=[CachingEagerEvaluatingDependencyAnalyzer]  DependencyAnalyzer:allCodeForModule:	 50% done
18:27:34.025 INFO  class=[CachingEagerEvaluatingDependencyAnalyzer]  DependencyAnalyzer:allCodeForModule:	 60% done
    Exception in thread "main" java.lang.RuntimeException: Could not find location of <file generated usi

[2020-07-08 14:09] aman1k4 commented on #56
@natansil Has created a new branch which ignores protoc files. Trying it out now: production_feedback

[2020-07-11 14:15] aman-iitj opened #57 "Exodus generated files fail for files with lombok annotation"
The build fails with error:  error: symbol not found io.harness.rule.DevInfo$DevInfoBuilder

the file is defined like this:

[code]

Is there any best practices over how to use annotation processor with wix?
I checked the documentation but couldn't find anything in the troubleshooting guide: https://wix.github.io/exodus/troubleshooting.html

[2020-07-11 14:48] natansil commented on #57
Exodus employs a static dependency analyzer. As such it cannot understand annotations.
One way to resolve this is to add temporary "fake" usages of DevInfoBuilder like:

[code]

Another way is to use override mechanism (write to `bazel_migration` folder to internal_file_deps.overrides file in some format)
it depends how widespread is the use of these annotations.

maybe adding these usage classes

[2020-07-11 15:00] aman1k4 commented on #57
We use [@slf4j](https://projectlombok.org/api/lombok/extern/slf4j/Slf4j.html) annotation in almost all the files (> 7k) which automatically creates the logger.

Also, using lombok needs special handeling using processor class.
[code]

I don't see these in the bazel generated files. So I think this will need some special handeling in internal_file_deps.overrides file.

[2020-07-12 06:32] natansil commented on #57
So which bazel target do you want to add as dependency?
I think that the best option will actually be to run `buildozer` after migration is done:
Something like:
`buildozer 'add deps [lombok target]' //...`

[2020-07-15 08:23] natansil commented on #57
Hi @aman,
I’ve fixed the parallization of analysis issue. So you can now run more than one module at a time:
https://github.com/wix/exodus/pull/55

Did you manage to solve the `lombok` issue with a `buildozer` command?

[2020-10-20 17:50] pcj opened #62 "New Release?"
Seems like it has been awhile since last release.  Any plans for a new one?

[2020-10-20 17:59] natansil commented on #62
@or-shachar do you know the status of the refactoring/moving to Java?

[2020-10-21 08:50] or-shachar commented on #62
Still waiting for a contribution around this.
But is it really a release holder?

[2020-10-21 08:53] natansil commented on #62
Do we have something we want to release?

[2020-10-21 16:46] pcj commented on #62
It's not blocking me as I ~~can~~ did clone and build from source, but I noticed that it's been some time since you did a release (it's what the documentation recommends to download)

[2020-10-22 06:24] natansil commented on #62
@or-shachar can you please review https://github.com/wix/exodus/pull/55 so I can merge it.
After that we can do a new release I guess

[2020-10-22 13:43] natansil commented on #62
done https://github.com/wix/exodus/releases/tag/v0.2

[2020-10-22 13:43] #62 closed

[2020-12-15 02:43] cdickson-sum opened #64 "Failing to read artifact descriptor"
I am getting the following failure message, and I am not sure what its trying tell me.

`Closure request failed: org.eclipse.aether.resolution.ArtifactDescriptorException: Failed to read artifact descriptor for com.sun.xml.bind:jaxb-osgi:jar:2.2.10`

I have looked in the local .m2 repository, and there is a POM file etc. Any hint as to why this may be failing?

[2020-12-15 08:21] natansil commented on #64
@or-shachar what is the mitigation here?

[2020-12-15 14:33] cdickson-sum commented on #64
Sorry, just filled in the command line as per the doc. This is happening right out of the gate. Are you asking for the command line? The item failing is not a direct dependency. I am unsure where its coming from, but probably Spring or Spring Boot. So it's in the managed deps someplace.

`Exception in thread "main" com.wixpress.build.maven.DependencyResolverException: Could not get closure of com.

[2020-12-15 15:51] or-shachar commented on #64
Hey @cdickson-sum - any chance to get a repro? Public repo with 1 module, dummy java file and pom.xml that asks for `com.sun.xml.bind:jaxb-osgi:jar:2.2.10`

[2021-04-06 19:08] robertgates55 commented on #64
I've got a similar issue on a big multimodule project (also failing to read the descriptor for a jaxb 2.2 artifact) - and I'm also struggling to unpick things.
[code]

My questions:
- @cdickson-sum did you manage to work out what was causing it to fail?
- Will the issue likely be in one of the direct deps?
- Is there any way to enable some debug logging to get some more verbose logs?

That version

[2021-04-06 19:24] robertgates55 commented on #64
I've just made a super simple repro with this pom:
[code]

Repro with:
[code]

Which throws:
[code]

[2021-04-06 19:30] robertgates55 commented on #64
Confirmed that the above happens with JDK11, but works with JDK8

[2021-04-07 06:52] natansil commented on #64
@or-shachar maybe an upgrade to maven resolver lib can address this.

[2021-05-10 07:43] anders-er-at-tink commented on #29
Looking at the source, it requires a colon, so this does work: `git@github.com:org/repo.git`

[2021-09-18 04:06] dinukadev opened #65 "Is the project still maintained? Tried generating BZL files for our spring boot apps and it didnt quite work"
Wanted to check if this project is still maintained?

I tried generating BZL files using the steps outlined and it generated a bunch of BZL files on my spring boot project but it does not generate a runnable JAR for my spring boot app nor does it run any tests.

Am I missing something here?

Any help is appreciated.

I am running Bazel 3.5.0

[2021-09-22 03:44] libratiger commented on #65
I also care about this.
Btw I suggest you to using the bazel 4.0+ version from my experences. it can reduce lots of problem. @dinukadev